/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
    overflow: hidden;
 }

 .dark-theme{
   background-color: rgba(0, 0, 0, 1);
   height: 100vh;
   color:rgb(252, 251, 251)
 }

 .title-text{
   text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #7411BD 0px 0px 20px, #7411BD 0px 0px 30px, #7411BD 0px 0px 40px, #7411BD 0px 0px 50px, #7411BD 0px 0px 75px, -3px 2px 2px rgba(116,17,189,0);
   color: #000000;
   text-align: center;
   display: flex;
   justify-content: center;
 }

.center-block{
   margin: 0 auto;
}

 .msg-form{
    width: 100%;
    height: 56px;
    padding: 10px;

 }

 #single_room{
    height: calc(100vh - 160px);
 }

 #messages{
    height: calc(100vh - 160px);
    overflow-x: hidden;
    overflow-y: scroll;
 }

 #room-container{
    height: 100vh;
    margin-right: 0px;
 }

 #side_panel{
    height: 100vh;
    margin-right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;

 }
 
 #chatroom_contrainer{
    height: 100vh;
    margin-right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
 }
 
 .msg-content{
    width: 80%;
    margin-right: 5px;
 }

.message-box{
    word-wrap: break-word;
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #555555;
    padding: 10px;
}

.user_row {
   height: 50px;
   padding: 10px;
   border-bottom: 1px solid #555555;
 }
 
 .username {
   overflow: hidden;
 }
 
 .chat_pfp {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 10px;
 }
 .user_list_item {
   height: 55px;
   background-color: #343a40 !important;
 }
 .room_list_item {
   height: 55px;
   background-color: #343a40 !important;
   color: #fff;
 }
 
 .name {
   margin-top: 15px;
   padding-bottom: 0px;
   margin-bottom: 0px;
 }
 
 .time {
   padding-top: 0px;
   margin-top: 0px;
   padding-bottom: 0px;
   margin-bottom: 0px;
 }

 #btn-start{
   background:    #8d30ce;
    background:    linear-gradient(#28376c, #8d30ce 50%, #28376c);
    border-radius: 1000px;
    padding:       15px 30px;
    color:         #55f610;
    display:       inline-block;
    font:          italic bold 21px/1 "Overlock", cursive;
    text-align:    center;
    margin-bottom: 10px;
}

#btn-start:hover{
   background:    #28376c;
    background:    linear-gradient(#8d30ce, #28376c 50%, #8d30ce);
    border-radius: 1000px;
    padding:       15px 30px;
    color:         #55f610;
    display:       inline-block;
    font:          italic bold 21px/1 "Overlock", cursive;
    text-align:    center;
    margin-bottom: 10px;
}